.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 640px;
    width: 960px;
}

@media (max-width: 640px) {
    .cards {
        flex-direction: column;
        height: auto;
        width: 100vw;
    }
}
