.headerImg {
    width: 32px;
    height: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
}

.header a {
    text-decoration: none;
}

.cart {
    display: flex;
    gap: 10px;
}
.number {
    padding-top: 4px;
}

.number p {
    font-size: 22px;
}
