* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    max-height: 100vh;
    height: 100%;
}

body {
    width: 100vw;
    overflow: overlay;
    min-height: 100vh;
    display: grid;
}

#root {
    height: 100%;
    display: grid;
}
